* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #f7f8fa;
    color: #0b1b3f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 450px;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-icon img {
    width: 36px;
    margin-bottom: 60px;
    opacity: 0.8;
}

.check-circle {
    width: 140px;
    height: 140px;
    background: #f1ead0;
    border-radius: 50%;
    margin: 0 auto 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-circle img {
    width: 70px;
}

h2 {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 1rem;
    color: #8a8f99;
    margin-bottom: 200px;
}
.church-icon-sidebar {
  height: 50px;
  width: 50px;
}

footer {
    color: #9ea3ae;
    font-size: 0.85rem;
}