* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background: #fff;
  width: 90%;
  max-width: 420px;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  text-align: center;
}
.icon {
  height: 60px;
  width: 60px;
  border-radius: 360px;
  color: #0284c7;
  background-color: #c3e1f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}



h2 {
  margin-top: 1rem;
  font-weight: 700;
  color: #1c1c1c;
}

p {
  color: #6b7280;
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
}

form {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #1f2937;
}

.email-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.email-label span {
  color: #9ca3af;
  font-size: 0.85rem;
}

input, select {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 0.95rem;
  outline: none;
  transition: all 0.3s ease;
}

input:focus, select:focus {
  border-color: #0ea5e9;
  box-shadow: 0 0 0 2px rgba(14,165,233,0.2);
}

button {
  width: 100%;
  padding: 14px;
  background-color: #0ea5e9;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 0.5rem;
}

button:hover {
  background-color: #0284c7;
}